######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user
.vs/
*.suo
*.user
_ReSharper.*
bin
obj
packages
*temp*
*Properties*
aws-logger-errors*
####################
# Build/Test folders
####################
**/bin/
**/obj/
**/TestResults/
**/Temp/
**/NuGet.exe
**/buildlogs/
**/packages
**/globalPackages
/src/globalPackages
/src/Collection.Application/StyleCop.Cache
/unit-test
